QWidget {
    background-color: #F5F5F5;
    color: #222222;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

QLabel {
    font-weight: bold;
    color: #333333;
    padding: 2px;
}

QLabel#Label_total {
    background-color: #E50914;
    color: white;
    border-radius: 4px;
    padding: 5px 15px;
    margin-right: 5px;
}

QLabel#Label_tonton {
    background-color: #23903d;
    color: white;
    border-radius: 4px;
    padding: 5px 15px;
}

QLineEdit, QComboBox, QSpinBox, QDoubleSpinBox {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 8px;
    color: #222222;
}

QLineEdit:focus, QComboBox:focus {
    border: 1px solid #E50914;
    background-color: #FFF5F5;
}

QTableWidget {
    background-color: #FFFFFF;
    gridline-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    color: #222222;
    selection-background-color: rgba(229, 9, 20, 0.3);
    selection-color: #000000;
    outline: none;
}

QTableWidget::item:hover {
    background-color: #F0F0F0;
}

QTableWidget::item:selected {
    background-color: #6a060b;
    color: white;
}

QHeaderView::section {
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    border-right: 1px solid #DDDDDD;
    border-bottom: 2px solid #E50914;
    font-weight: bold;
    color: #E50914;
    text-transform: uppercase;
    font-size: 8pt;
}

QHeaderView::section:last {
    border-right: none;
}

QScrollBar:vertical {
    border: none;
    background: #F5F5F5;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: #BBBBBB;
    min-height: 20px;
    border-radius: 5px;
}

QScrollBar::handle:vertical:hover {
    background: #E50914;
}

QPushButton {
    background-color: #E50914;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
    text-transform: uppercase;
}

QPushButton#batal {
    background-color: #4a4a4a;
}

QPushButton#batal:hover{
    background-color: #676767;
}

QPushButton:hover {
    background-color: #f40f1b;
}

QPushButton:pressed {
    background-color: #B20710;
}

QMessageBox QLabel {
    font-weight: normal;
}

QMenuBar {
    background-color: #FFFFFF;
    color: #222222;
    padding: 5px;
    border-bottom: 1px solid #DDDDDD;
}

QMenuBar::item:selected {
    background-color: #EEEEEE;
    border-radius: 4px;
}

QMenu {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 5px;
}

QMenu::item {
    padding: 8px 25px;
    border-radius: 2px;
}

QMenu::item:selected {
    background-color: #E50914;
    color: white;
}

QComboBox::drop-down {
    width: 25px;
}